.similarCards {
  width: 100%;
}

.cards {
  display: flex;
  gap: 20px;
  overflow: scroll;
}

@media screen and (max-width: 1300px) {
  
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 900px) {
 
}