.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 16px;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.imageWarper {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
}

.author {
  font-size: 16px;
}

.description {
  font-size: 14px;
  color: #555;
}
